html{
  width: 100%;
  height: 100%;
}
body{
  width: auto;
  height: auto;
  background-image: url('../images/Intro_Back.png');
  background-repeat: no-repeat;
  background-size: cover;
}
footer{
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}
*{
  font-family: 'NanumBarunGothic', 'serif';
}
a{
  text-decoration: none;
}
#form{
  width: 100%;
  height: 100%;
}
#Title{
  width : 1000px;
  height: 300px;
  margin: 0 auto;
}
#Title td{
  text-align: center;
}
#Jejudo{
  width : 1000px;
  height: 350px;
  margin: 0 auto;
}
#Jejudo td{
  text-align: center;
}
#Choice{
  width : 1000px;
  height: 300px;
  margin: 0 auto;
}
#Choice td{
  width :200px;
  text-align: center;
}
#Choice td img{
  width: 190px;
}
.bottom1 a{
  font-size: 12px;
  color: #ffffff;
}
.bottom2 a{
  font-size: 12px;
  color: #ffffff;
}
.bottom3 a{
  font-size: 12px;
  color: #ffffff;
}
.bottom4 a{
  font-size: 12px;
  color: #ffffff;
}
